In [1]:
import streamlit as st
import pickle
import pandas as pd

In [2]:
df = pd.read_csv('data/houses_modeling.csv')

In [4]:
df.sample(3)

,livrooms_count,district,year,level,house_levels,const_tech,area,liv_area,kitchen_area,price,log_price
1266,3,Нижегородский,1968.0,3,5,кирпич,62.9,48.2,6.0,11600000,16.266516
1736,2,Советский,2025.0,8,13,кирпич,79.3,27.6,30.1,23570590,16.975510
1848,1,Канавинский,2026.0,12,24,блок+утеплитель,44.5,11.1,16.0,10990000,16.212496

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2450 entries, 0 to 2449
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   livrooms_count  2450 non-null   int64
 1   district        2450 non-null   object
 2   year            2450 non-null   float64
 3   level           2450 non-null   int64
 4   house_levels    2450 non-null   int64
 5   const_tech      2450 non-null   object
 6   area            2450 non-null   float64
 7   liv_area        2450 non-null   float64
 8   kitchen_area    2450 non-null   float64
 9   price           2450 non-null   int64
 10  log_price       2450 non-null   float64
dtypes: float64(5), int64(4), object(2)
memory usage: 210.7+ KB

In [9]:
df.livrooms_count.value_counts()

livrooms_count
2    975
1    718
3    564
4     97
0     89
5      6
7      1
Name: count, dtype: int64

In [8]:
df.year.describe()

count    2450.000000
mean     1999.622332
std        26.498866
min      1929.000000
25%      1974.000000
50%      2010.000000
75%      2026.000000
max      2027.000000
Name: year, dtype: float64

In [2]:
st.write("# Узнай актуальную цену квартиры в НН")

2025-04-24 19:46:00.025
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\ProgramData\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [7]:
df.const_tech.unique()

array(['кирпич', 'блок+утеплитель', 'шлакоблок', 'панель',
       'монолитный железобетон', 'поризованный керамический блок',
       'стеновая панель на деревянном каркасе', 'дерево'], dtype=object)

In [10]:
df.level.value_counts()

level
1     349
2     335
4     305
3     266
5     226
6     141
8     129
9     127
7     122
10     74
13     54
11     53
12     51
15     44
16     39
14     30
18     25
17     22
19     15
21     12
20      9
23      7
24      6
22      5
0       2
25      2
Name: count, dtype: int64

In [21]:
print(sorted(df.house_levels.unique()))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]

In [23]:
df.liv_area.describe()

count    2450.000000
mean       29.662445
std        14.040000
min         7.000000
25%        18.000000
50%        28.000000
75%        37.300000
max       154.600000
Name: liv_area, dtype: float64

In [ ]:
df.area.describe()

In [24]:
df.kitchen_area.describe()

count    2450.000000
mean       11.167118
std         6.582355
min         0.000000
25%         6.000000
50%         9.500000
75%        14.900000
max        58.200000
Name: kitchen_area, dtype: float64

In [ ]:
streamlit run app.py

In [ ]:
district = st.selectbox(
    "Район",
    ['Советский', 'Приокский', 'Канавинский', 'Автозаводский',
       'Нижегородский', 'Московский', 'Сормовский', 'Новинский',
       'Ленинский']
)

In [ ]:
building_type = st.selectbox(
    "Материал дома",
    ['кирпич', 'панель', 'шлакоблок', 'блок+утеплитель', 'дерево',
           'монолитный железобетон']
)

In [ ]:
# st.write("You selected:", building_type)

In [ ]:
year = st.slider(
    '### Год постройки:',
    min_value=1835.0,
    max_value=2027.0,
    value=2000.0,
    step=1.0
)

In [ ]:
# Переделать в слайдер от 0 до 8
rooms = ['Студия', 'Однокомнатная', 'Двухкомнатная', 'Трехкомнатная', 'Четырехкомнатная', '', '', '', '']
rooms_count = st.selectbox(
    "Комнаты",
    rooms,
    index=2
)

In [ ]:
room2count = dict(zip(rooms,[0,1,2,3,4]))

In [ ]:
no_first_no_last = st.checkbox("Не первый не последний этаж", value=True)

In [ ]:
appart =dict(zip(
    ['area1', 'district', 'building_type', 'year', 'rooms_count', 'no_first_no_last'],
    [area, district, building_type, year, rooms2int[rooms_count], no_first_no_last]
))
# )
new = pd.DataFrame(appart, index=[0])

In [ ]:
appart =dict(zip(
    ['area1', 'district', 'building_type', 'year', 'rooms_count', 'no_first_no_last'],
    [area, district, building_type, year, rooms2int[rooms_count], no_first_no_last]
))

In [ ]:
new = pd.DataFrame(appart, index=[0])
st.write(new)

In [ ]:
model_pkl_file = "models/apartment_prices_regression.pkl"
with open(model_pkl_file, 'rb') as file:
    model = pickle.load(file)

In [ ]:
st.write("## Оценочная стоимость квартиры:","{:,}".format(int(model.predict(new)[0])))

In [ ]:
pip install scikit-learn

In [ ]:
sklearn.__version__

In [ ]:
pip install scikit-learn==1.4.1.post1

In [ ]:
pip install scikit-learn==1.2.2

In [ ]:
Git add, git commit, git push